[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/stb/stb"]
	path = external/stb/stb
	url = https://github.com/nothings/stb
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/GL"]
	path = external/GL
	url = https://github.com/Perlmint/glew-cmake
[submodule "external/SDL_mixer"]
	path = external/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp